{{ project.name }}
{{ project.description }}

Generated using Cloudoria Component Template [{{ component.metadata.name }}]({{ component.metadata.url }}).
---

Insert your content here!

---

This amazing project is using [Cloudoria](https://cloudoria.io).
Get started faster, deploy easily and learn with [Cloudoria](https://cloudoria.io/getstarted).'''