{{ project.name }}
{{ project.description }}

Generated using Cloudoria Component Template [{{ template.metadata.name }}]({{ template.metadata.source }}).
This file is a part of Cloudoria Component {{ component.name }}
---

Insert your content here!

---

This amazing project is using [Cloudoria](https://cloudoria.io).
Get started faster, deploy easily and learn with [Cloudoria](https://cloudoria.io/getstarted).'''
